body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-family: 'pfagorasanspro-reg', Arial, sans-serif;
}

header {
    height: 70px;
    font-size: 18px;
    background-color: #044156;
    color: white;
    padding: 0 15px 0 15px;
    position: fixed;
    width: calc(100% - 30px);
}

header nav img {
    height: 32px;
}

header nav ul li:first-child img {
    height: 65px;
}


header nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.Київ:hover {
    box-shadow: 0px 0px 0px 10px blue;
}

.Львів:hover {
    box-shadow: 0px 0px 0px 10px blue;
}

.Одеса:hover {
    box-shadow: 0px 0px 0px 10px blue;
}

.Чернівці:hover {
    box-shadow: 0px 0px 0px 10px blue;
}

.Харків:hover {
    box-shadow: 0px 0px 0px 10px blue;
}

.Дніпро:hover {
    box-shadow: 0px 0px 0px 10px blue;
}

.Івано-Франківськ:hover {
    box-shadow: 0px 0px 0px 10px blue;
}

.Запоріжжя:hover {
    box-shadow: 0px 0px 0px 10px blue;
}

.Полтава:hover {
    box-shadow: 0px 0px 0px 10px blue;
}
p {
    margin-bottom: 730px;
  }
  body {
    background-image: url('https://f.discover.ua/photo/744/-IUwX.jpg');
}
body {
    color: white;
}


  